In [23]:
# Exercise 2: Create markdown cell with title of the notebook

# Data Science Tools and Ecosystem

In [24]:
# Exercise 3 - Create a markdown cell for an introduction

# Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Discuss commonly used libraries in Data Science.
- Explore development environment open-source tools.
- Introduce arithmetic expressions in Python.
- Showcase examples of markdown usage in Jupyter Notebooks.

In [25]:
# Exercise 4 - Create a markdown cell to list data science languages

# Data Science languages

Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL  
4. Julia  
5. Java

In [26]:
# Exercise 5 - Create a markdown cell to list data science libraries

# Data Science Libraries

Some of the commonly used libraries used by Data Scientists include:

1. NumPy  
2. Pandas  
3. Matplotlib  
4. Scikit-learn  
5. TensorFlow  
6. PyTorch

In [27]:
# Exercise 6 - Create a markdown cell with a table of Data Science tools

# Data Science tools

| Data Science Tools |
|--------------|
| Jupyter Notebook |
| RStudio      |
| Apache Spark |
| TensorFlow   |
| Hadoop       |

In [28]:
# Exercise 7 - Create a markdown cell introducing arithmetic expression examples

# Introducing Arithmetic Expression Examples

### Below are a few examples of evaluating arithmetic expressions in Python.

In [29]:
# Exercise 8 - Create a code cell to multiply and add numbers

In [30]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [31]:
# Exercise 9 - Create a code cell to convert minutes to hours

In [32]:
# This will convert 200 minutes to hours by diving by 60.

minutes = 200
hours = minutes / 60
hours

3.3333333333333335

In [33]:
# Exercise 11 - Create a markdown cell to indicate the Author's name

## Author
Arun